
.heading,
.subheading {
  margin-bottom: 20px;
}

.heading {
  font-size: 3rem;
  color: #fff;
  text-transform: uppercase;
}

.subheading {
  font-size: 1.5rem;
  color: #ccc;
}

.container {
  text-align: center;
}

.buttons-container {
  margin-top: 40px;
}


.button {
  background-color: #9251cb;
  color: #fff;
  padding: 1.5rem 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  outline: none;
  margin: 17px 20px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  width: 180px;
}

.button:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
